.topImage{
	background-image: url("https://upload.wikimedia.org/wikipedia/en/2/22/Nine_Inch_Nails_With_Teeth_Standard.jpg");
	background-position: center center;
	width:350px;
	height:350px;
	background-repeat:no-repeat;
}

body {
	font-family:  Arial, sans-serif;
}


table{
	border-collapse: collapse;
	width: 80%;
	margin:0px auto; /*should center table*/
}
h1{
	font-family: Impact, fantasy;
}

table, th, td {
	border: 1px solid black;
}

tr:hover{
	background-color: grey
}
/*creates grey hover on whole line in table when hovering*/

td{
	text-align: center;
}