body {
	background-color: darkgreen;
	font-family:  Arial, sans-serif;
}


table{
	border-collapse: collapse;
	width: 80%;
	margin:0px auto; /*should center table*/
}

table, th, td {
	border: 1px solid black;
}

tr:hover{
	background-color: grey
}
/*creates grey hover on whole line in table when hovering*/

td{
	text-align: center;
}