a{
	text-decoration: none;
	font-size: x-large;
}

a:hover{
	text-decoration: underline;
	background-color: hotpink; 
}

body {
	font-family:  Arial, sans-serif;
}

tbody tr:nth-child(even){
	background-color: lightgrey;
}

tbody tr:nth-child(odd){
	background-color: darkgreen;
}

h1{
	font-family: Impact, fantasy;
}

table, th, td {
	border: 1px solid black;
}

th{
	text-align: center;
}

td{
	text-align: center;
	font-style: italic;
}