h1{
	font-family: Impact, Verdana;
	text-align: center;
	background-color: red;
}
/*Home Page*/
a{
	font-family: sans-serif;
	text-decoration: none;
	
}

table{
	border-collapse: collapse;
	/*width:80%;*/
	margin: 0px auto;
}

td{
	text-align: center;
}
/*END Home Page*/

/*Menu*/
h2{
	font-family: cursive;
}
.description{
	text-align: center;
	background-color: lightblue;
	
}

.footer{
	text-align: center;
	font-family: Impact, sans-serif;
	background-color: yellow;
}