@font-face{
	font-family: Ferrum;
	src: url("ferrum.otf");
}

h1{
	font-family: Ferrum;
	text-align: center;
	background-color: red;
}

/*Home Page*/

a{
	font-family: sans-serif;
	/*text-decoration: none;*/
	
}

a:visited{
	color:pink;
}

a:hover{
	font-weight:bold;
}

a:active{
	text-decoration:none;
}

table{
	border-collapse: collapse;
	/*width:80%;*/
	margin: 0px auto;
}

th{
	font-size: x-large;
	font-family: cursive;
}

td{
	text-align: center;
}

/*END Home Page*/

/*Menu*/

h2{
	font-family: cursive;
}

.beverageBackground{
	background-color:green;
}

.beverages{
	width:10%;
	margin-left: auto; /*these center the table*/
	margin-right: auto; /*these center the table*/
}

/*END Menu*/

/* Contact Us */

form{
	font-weight: bold;
}

.description{
	text-align: center;
	background-color: dodgerblue;
	
}

.footer{
	text-align: center;
	font-family: Impact, sans-serif;
	background-color: yellow;
}

/* END CONTACT US */