@font-face{
	font-family: Ferrum;
	src: url("ferrum.otf");
}

/*Home Page*/

a{
	font-family: sans-serif;
}

a:visited{
	color:pink;
}

a:hover{
	font-weight:bold;
}

a:active{
	text-decoration:none;
}

/*END Home Page*/

/*Menu*/

.beverageBackground{
	background-color:green;
}

.row{
	background-color: dodgerblue;
}

.col-sm-4{
	text-align: center; 
	font-size: 20px; 
}

/*END Menu*/

/* Contact Us */

form{
	font-weight: bold;
}

.footer{
	text-align: center;
	font-family: Impact, sans-serif;
	background-color: yellow;
}

/* END CONTACT US */